.header{
    width: 100%;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(42deg, rgba(0,0,0,1) 0%, rgba(34,193,195,1) 100%);
}
.header>img{
    width: 100%;
    margin-top: 260px;
}
.header2{
    height: 100vh;
    background: rgb(57,230,254);
    background: linear-gradient(22deg, rgba(57,230,254,1) 0%, rgba(28,123,132,1) 82%);
}
.sticky{
    width: 100%;
    height: 65px;
}
.shadow{
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.white{
    color: white;
}
.blk{
    color: black;
}
.blue{
    color: #35D7FE;
}
.nopad{
    padding: 0!important;
}
/* Menu Open Close*/
.drawer{
    transform: translate(-50%,-50%);
    width: 60px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-right: -30px;
    z-index: 999;
    position: relative;
}
.hamburger{
    width: 15px;
    height: 3px;
    background: #fff000;
    transform: translate(-100%,50%);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
    position: relative;
    top: 40px;
    left: 40px;
}
.hamburger::before,.hamburger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff000;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
}
.hamburger::before{
    top: -10px;
}
.hamburger::after{
    top: 10px;
}
.drawer.active .hamburger{
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.drawer.drawer.active .hamburger::before{
    top: 0;
    transform: rotate(45deg);
}
.drawer.drawer.active .hamburger::after{
    top: 0;
    transform: rotate(135deg);
}
/* END Menu */

/* Flash */
.flash{
    position: fixed;
    bottom:45px;
    right: -20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    overflow: hidden;
    z-index: 99;
}
.flash>img{
    position: relative;
    z-index: 99;
}
.flash>p{
    position: absolute;
    top: 45px;
    left: 50px;
    border-radius: 50%;
    animation: animate 3s linear infinite;
    z-index: 80;
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0);
    }
}
#fk{
    width: 0px;
    height: 2px;
    background: gray;
    position: fixed;
    bottom: 90px;
    right: 0px;
    z-index: 90;
    border-radius: 50% 0px 0px 50%;
}
#fk>a{
    position: absolute;
    top: -15px;
    left: -25px;
    opacity: 0;
}
#sh{
    width: 0px;
    height: 2px;
    background: gray;
    position: fixed;
    bottom: 120px;
    -moz-transform: rotate(47deg);
    -webkit-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    transform: rotate(47deg);
    right: 20px;
    z-index: 90;
    border-radius: 50% 0px 0px 50%;
}
#sh>a{
    position: absolute;
    top: -12px;
    left: -32px;
    opacity: 0;
}
#whs{
    width: 0px;
    height: 2px;
    background: gray;
    position: fixed;
    bottom: 60px;
    -moz-transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg);
    -o-transform: rotate(-47deg);
    -ms-transform: rotate(-47deg);
    transform: rotate(-47deg);
    right: 20px;
    z-index: 90;
    border-radius: 50% 0px 0px 50%;
}
#whs>a{
    position: absolute;
    top: -22px;
    left: -32px;
    opacity: 0;
}
/* Flash end */

/* Content */
.logo{
    height: 80vh;
}
.logo>img{
    width: 130%;
    height: 100%;
    margin-left: -30%;
}
/* END Content */

/* .menu */
#menu{
    padding: 10px;
    z-index: 999;
    transition: 0.8s;
}
.list{
    margin-top: 12px!important;
    float: right;
    margin-right: 60px;
}
.list>li{
    margin-left: 30px;
    display: inline;
}
.list>li>a{
    font-size: 22px;
    color: white;
    font-weight: 400;
    text-decoration: none!important;
}
.list>li>a:hover{
    color: #39E6FE;
    text-decoration: none!important;
}
/* list 2 */
.list2{
    margin-top: 12px!important;
    float: right;
    margin-right: 60px;
}
.list2>li{
    margin-left: 30px;
    display: inline;
}
.list2>li>a{
    font-size: 22px;
    color: #39E6FE;
    font-weight: 400;
    text-decoration: none!important;
}
.list2>li>a:hover{
    color:  rgba(34,193,195,1);
    text-decoration: none!important;
}
.fix_stick {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
/* END .menu */

/* Slogan */
.slogan{
    margin-top: -90px;
}
.slogan>h1{
    color: white;
    font-size: 4.2rem;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    margin-left: -100px;
    white-space: nowrap;
    width: 100%;
}
.slogan>h3{
    color: white;
    margin-left: 100px;
    font-weight: 400;
    font-size: 2.4rem;
    margin-top: -40px;
    opacity: 0;
    white-space: nowrap;
}
/* END Slogan */

/* Overalay */
.overlay{
	position: fixed;
	top: 0;
	right: 0;
    z-index: 900;
	width: 0%;
	overflow-x: hidden;
	height: 100%;
	transition: all 0.5s;
}
.overlay>div:nth-child(1){
    opacity: 0.5;
    background: #103154;
}
.overlay>div:nth-child(2){
    background: #103154;
    opacity: 0.95;
}
.drw_list{
    width: 100%;
    height: 90%;
}
.drw_list>li{
    margin-top: 7%;
}
.drw_list>li>a{
    color: white;
    white-space: nowrap;
    font-size: 1.3em;
    text-decoration: none!important;
}
.drw_list>li>a:hover{
    color: #39E6FE;
    text-decoration: none!important;
}
/* END Overlay */

/* Quotes */
.cntt{
    margin-top: -190px;
}
#minicontent>div:nth-child(1)>img{
    width: 90px;
    margin-top: 20px;
    z-index: 20;
    position: relative;
}
#minicontent>div:nth-child(2){
    background: #EBEBEB;
    margin-top: -20px;
    padding: 20px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 16;
    position: relative;
}
#minicontent>div:nth-child(2)>p{
    font-size: 20px;
}
/* END Quotes */
/* Promo */
.imgPromo{
    width: 100%;
    height: auto;
}
.imgPromo>img{
    width: 100%;
    height: auto;
}

.effect2
{
  position: relative;
  -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
  z-index: 40;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/* END Promo */

/* News */
.bg_tigri{
    background: #EBEBEB;
}
.news>div{
    /* border: 1px solid red; */
    height: 100px;
    margin-bottom: 10px;
}
/* END News */

/* Footer */
footer{
    height: 160px;
    background: rgb(5,31,32);
background: linear-gradient(0deg, rgba(5,31,32,1) 8%, rgba(34,193,195,1) 100%);
}
.rsd>h3{
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.pin{
    height: 80px;
    margin-left: 20%;
    margin-top: -30px;
}
.pina{
    color: #2E2E2E;
    font-style: italic;
    font-size: 16px;
    position: relative;
    top: 5px;
    left: -30px;
    white-space: nowrap;
}
.pina:hover{
    text-decoration: none;
    color: rgb(23, 69, 90);
}
.jus_end{
    margin-top: 30px;
}
.jus{
    height: 80px;
    margin-right: 20%;
}
.jusa{
    color: black;
    font-style: italic;
    font-size: 16px;
    position: relative;
    top: 40px;
    right: -12px;
    white-space: nowrap;
}
.jusa:hover{
    text-decoration: none;
    color: #2E2E2E;
}
/* END Footer */
.chev{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    z-index: 899;
}
.chev>a{
    margin-top: -25px;
}
.chev>a>img{
    animation: slide 1s linear infinite;
}
.chev>a:hover{
    opacity: 0.6;
}
@keyframes slide{
    0%{
        margin-top: 0px;
    }
    20%{
        margin-top: 5px;
    }
    40%{
        margin-top: 10px;
    }
    60%{
        margin-top: 15px;
    }
    80%{
        margin-top: 10
    }
    90%{
        margin-top: 5px;
    }
    100%{
        margin-top: 0px;
    }
}
.turn,.turn2{
    color: #FFFEFE;
    transition: 0.5s;
}
.turn:hover{
    color: rgb(221, 221, 221);
    margin-right: 10px;
}
.turn2:hover{
    color: rgb(221, 221, 221);
    margin-left: 10px;
}
/* Informations */
.tr_i1{
    width: 0px;
    height: 2;
    background: #35D7FE;
    margin-right: 6px;
    margin-top: -8px;
}
.tr_i{  
    height: 2;
    background: #35D7FE;
    margin-right: 6px;
    margin-top: -8px;
}
.fig{
    height: 200px;
    background: #EBEBEB;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.tx_ing{
    position: absolute;
    padding-right: 165px;
    white-space: nowrap;
    font-size: 2.4em;
    margin-top: 40px;
    text-shadow: 4px 2px 1px lightgray;
}
/* END Informations */

/* Promo Header */
#student>img{
    position: absolute; 
    bottom: 0; 
    height: 90%;
}
.biog{
    z-index: 100; 
    justify-content: space-around;
}
.soci{
    margin-top: -50px;
}
/* END Promo Header */

/* Blog */
.header3{
    background-image: url(../img/blg.svg);
}
/* END Blog */